.card1{
    height: 300px;
    width: 200px;
     border: 2px solid black;
    display: inline-block; 
    position: relative;
    top: -68px;
    margin: 10px;
    border-radius:5px;
    box-shadow: 0px 4px 8px black;
    transition: 1s;
}
.card2{
    height: 300px;
    width: 200px;
    border: 2px solid black;
    display: inline-block; 
    border-radius:5px;
    box-shadow: 2px 4px 8px black;
    transition: 1s;
}
.desc{
    padding: 0 5px 0 5px;
}
img{
    width: 100%;
     border-radius:5px 5px 0 0;
}
.card1:hover{
    box-shadow: 2px 8px 16px rgb(194, 34, 34);
}
.card2:hover{
    box-shadow: 2px 8px 16px rgb(8, 8, 8);
}